* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 20em;
}

ul {
    display: flex;
    gap: 1em;
    list-style-type: none;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-info {
    display: flex;
    gap: 5em;
    margin-top: 5em;
    padding: 0 20em 2em;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-text p, .header a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    max-width: 100%;
    width: 600px;
    height: 450px;
    object-fit: cover;
}

.hero-text p {
    margin-bottom: 1em;
}

.hero-text button {
    width: 6em;
    height: 2em;
    border-radius: 10px;
    color: white;
    background-color: #3882F6;
    border: 0;
}

a:link { 
    text-decoration: none; 
} 

a:visited { 
    text-decoration: none; 
} 

a:hover { 
    text-decoration: none; 
} 

a:active { 
    text-decoration: none; 
}

.food-gallery-title {
    text-align: center;
    padding: 1em 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.food-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    word-wrap: break-word;
    margin-bottom: 2em;
}

.food-info {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
}

.img-box {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 4px solid #3882F6;
    margin-bottom: 1em;
}

.img-box img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    margin-bottom: 2em;
    padding: 4em;
}

.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.quote-box p:first-of-type {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-box p:last-of-type {
    font-size: 36px;
    font-weight: bold;
    align-self: flex-end;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    width: 60%;
    height: 10em;
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    padding: 2em 10em;
    margin-bottom: 2em;
    color: white;
}

.signup-box button {
    width: 6em;
    height: 2em;
    border-radius: 10px;
    color: white;
    background-color: #3882F6;
    border: 1px white solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: #1F2937;
    color: white;
}